ggplot
matplotlib~=3.9.4
plotnine~=0.13.6
statsmodels
surfplot~=0.2.0
tomli~=2.2.1
h5py~=3.13.0
torch~=2.6.0
numpy~=1.23.5
scikit-image~=0.24.0
nibabel~=5.3.2
scipy~=1.13.1
brainspace~=0.1.20
pillow~=11.1.0
pandas~=2.2.3
django~=4.2.20
djangorestframework~=3.16.0
setuptools~=75.8.2